#settings {
    overflow: hidden visible;
    padding: 10px;
    background-color: var(--bg2);
    min-height: 100%;
    box-sizing: border-box;
}

#settings .settings-entry {
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 2px groove white;
}