#settings {
    padding: 10px;
    background-color: var(--bg2);
    height: 100%;
}

#settings #entries {
    overflow: scroll;
    box-sizing: border-box;
}

#settings .settings-entry {
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 2px groove white;
}